-e git+git://github.com/ess-dmsc/python-nexus-utilities.git@94fd4dedabcb8b4c0b0fe1b70a366f8e55e87bdd#egg=nexusutils
-e git+git://github.com/ess-dmsc/nexus-json.git@a02080b4b741e8e2667c0df1a4e40dd127e738fb#egg=nexusjson
h5py
numpy
tqdm
